{% extends 'main_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" media="screen, print" href="{% static 'css/statistics/chartjs/chartjs.css' %}">
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" title="Main 화면으로">SmartHAN</a></li>
        <li class="breadcrumb-item"><a href="" title="블로그를 화면으로">골프</a></li>
       
        <li class="breadcrumb-item active">필드 스코어</li>
        
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>                    
                        
    <div class="row">

        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-12">
                    <div id="panel-3" class="panel">
                        <div class="panel-hdr">
                            <h2>
                               필드 스코어 <span class="fw-300" id = "han3"><i>나의 기록</i></span>
                            </h2>
                            <div class="input-group col-3">
                                <select class="form-control shadow-inset-2 ye">
                                    <option class="dropdown-item input-group-text" value="all" {% if ye == 'all' %}selected{% endif %}>all</option>
                                    <option class="dropdown-item input-group-text" value="2018" {% if ye == '2018' %}selected{% endif %}>2018</option>
                                    <option class="dropdown-item input-group-text" value="2019" {% if ye == '2019' %}selected{% endif %}>2019</option>
                                    <option class="dropdown-item input-group-text" value="2020" {% if ye == '2020' %}selected{% endif %}>2020</option>
                                    <option class="dropdown-item input-group-text" value="2021" {% if ye == '2021' %}selected{% endif %}>2021</option>
                                </select>
                            </div>
                            <div class="panel-toolbar">
                                <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                                <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                                <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                            </div>
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                {% if ye == 'all' %}  
                                                          
                                <div class="panel-tag">
                                     필드 스코어  
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{maxvalue}}타
                                                    <small class="m-0 l-h-n">최대 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-galaxy position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{minvalue}}타
                                                    <small class="m-0 l-h-n">최소 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-bullseye position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                </div>
                                {% elif ye == '2018' %}
                                <div class="panel-tag">
                                   2018 필드 스코어
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{maxvalue}}타
                                                    <small class="m-0 l-h-n">최대 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-galaxy position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{minvalue}}타
                                                    <small class="m-0 l-h-n">최소 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-bullseye position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                </div>
                                {% elif ye == '2019' %}
                                <div class="panel-tag">
                                   2019 필드 스코어
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{maxvalue}}타
                                                    <small class="m-0 l-h-n">최대 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-galaxy position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{minvalue}}타
                                                    <small class="m-0 l-h-n">최소 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-bullseye position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                </div>
                                {% elif ye == '2020' %}
                                <div class="panel-tag">
                                   
                                    2020 필드 스코어
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{maxvalue}}타
                                                    <small class="m-0 l-h-n">최대 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-galaxy position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{minvalue}}타
                                                    <small class="m-0 l-h-n">최소 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-bullseye position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="panel-tag">
                                    2021 필드 스코어
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{maxvalue}}타
                                                    <small class="m-0 l-h-n">최대 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-galaxy position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
                                            <div class="">
                                                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                                    {{minvalue}}타
                                                    <small class="m-0 l-h-n">최소 스코어</small>
                                                </h3>
                                            </div>
                                            <i class="fal fa-bullseye position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                                <div id="barlineCombine1">
                                    <canvas style="width:100%; height:300px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <form id="searchForm" method="post" action="{% url 'golf:screengolf' %}">
            {% csrf_token %}
            <input type="hidden" id="ye" name="ye" value="{{ ye }}">
           
        </form>

        
    </div>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'js/statistics/chartjs/chartjs.bundle.js' %}"></script>
<script>
/* bar & line combine1 */
var barlineCombine1 = function()
    {
        var barlineCombineData1 = {
            labels: [
                    {% for ma in fieldscore %}
                        '{{ ma.date }}'
                        {% if not forloop.last %},{% endif %}  //마지막 loop의 마지막이 아닐경우 ,를 붙인다
                    {% endfor %} 
            ],
            datasets: [
            {
                
                type: 'line',
                label: '즉 대응률',
                borderColor: color.danger._300,
                pointBackgroundColor: color.danger._500,
                pointBorderColor: color.danger._500,
                pointBorderWidth: 1,
                borderWidth: 2,
                pointRadius: 4,
                pointHoverRadius: 5,
                fill: false,
                data: [
                            {% for ma in fieldscore %}
                                '{{ ma.score }}'
                                {% if not forloop.last %},{% endif %}  //마지막 loop의 마지막이 아닐경우 ,를 붙인다
                            {% endfor %}
                ]
            },
            

            
           
            ]

        };
        var config = {
            type: 'bar',
            data: barlineCombineData1,
            options:
            {
                responsive: true,
                legend:
                {
                    position: 'top',
                },
                title:
                {
                    display: true,
                    text: '자재즉 대응률'
                },
                scales:
                {
                    xAxes: [
                    {
                        display: true,
                        scaleLabel:
                        {
                            display: true,
                            labelString: '날짜'
                        },
                        gridLines:
                        {
                            display: true,
                            color: "#f2f2f2"
                        },
                        ticks:
                        {
                            beginAtZero: true,
                            fontSize: 11
                        }
                    }],
                    yAxes: [
                    {
                       
                        display: true,
                        scaleLabel:
                        {
                            display: false,
                            labelString: 'Profit margin (approx)'
                        },
                        gridLines:
                        {
                            display: true,
                            color: "#f2f2f2"
                        },
                        ticks: {
                            max: 110,
                            min: 70,
                            fontSize: 11,
                            beginAtZero: false,    
                        }
                        
                    },
                    
                ]
                }
            }
        }
        new Chart($("#barlineCombine1 > canvas").get(0).getContext("2d"), config);
    }
    /* bar & line combine1 -- end */

  /* initialize all charts */
  $(document).ready(function()
    {
       
       
       
              
        barlineCombine1();
       
    });


</script>
<script type='text/javascript'>
    $(document).ready(function(){
       
    
      
    
      
    
        $(".ye").on('change', function() {
                $("#ye").val($(this).val());
                
                $("#searchForm").submit();
        });
        
       
    
       
      
    
    });
    </script>
    {% endblock %}