{% extends 'main_base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" media="screen, print" href="{% static 'css/miscellaneous/lightgallery/lightgallery.bundle.css' %}">
{% endblock %}

{% block content %}

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">SmartHAN</a></li>
        <li class="breadcrumb-item">앨범</li>
        <li class="breadcrumb-item active">리스트</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <!-- <div class="subheader">
        <h1 class="subheader-title">
            <i class='fal fa-info-circle'></i> 소개
            <small>
                이 사이트의 간단한 소개입니다.
            </small>
        </h1>
    </div> -->



    
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <a class="h2" href="">
                            전체 앨범 사진들</a>&emsp;
                        <span class="font-italic h5">그림을 클릭하세요.</span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div id="js-lightgallery" >
                        {% for item in object_list %} 
                            {% for photo in item.photo_set.all %}
                            
                            <a class="jg-entry entry-visible" href="{{ photo.image.url }}">
                                <img class="img-responsive" src="{{ photo.image.thumb_url }}" alt="{{ photo.title }}">
                            </a>
                            
                            {% endfor %}                           
                        {% endfor %}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>           
   





    {% for item in object_list %}
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel panel-collapsed">
                <div class="panel-hdr">
                    <h2>
                        <a class="h2" href="{% url 'photo:album_detail' item.id %}">
                            {{ item.name }}</a>&emsp;
                        <span class="font-italic h5">{{ item.description }}</span>
                        
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div id="js-lightgallery" >
                            {% for photo in item.photo_set.all %}
                            
                            <a class="jg-entry entry-visible" href="{{ photo.image.url }}">
                                <img class="img-responsive" src="{{ photo.image.thumb_url }}" alt="image"  >
                            </a>
                            
                            {% endfor %}                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>           
    {% endfor %}

</main>

{% endblock %}


{% block script %}
<script src="{% static 'js/miscellaneous/lightgallery/lightgallery.bundle.js' %}"></script>
<script>
    $(document).ready(function()
    {
        var $initScope = $('#js-lightgallery');
        if ($initScope.length)
        {
            $initScope.justifiedGallery(
            {
                border: -1,
                rowHeight: 150,
                margins: 8,
                waitThumbnailsLoad: true,
                randomize: false,
            }).on('jg.complete', function()
            {
                $initScope.lightGallery(
                {
                    thumbnail: true,
                    animateThumb: true,
                    showThumbByDefault: true,
                });
            });
        };
        $initScope.on('onAfterOpen.lg', function(event)
        {
            $('body').addClass("overflow-hidden");
        });
        $initScope.on('onCloseAfter.lg', function(event)
        {
            $('body').removeClass("overflow-hidden");
        });
    });

</script>
{% endblock %}