{% extends 'main_base.html' %}
{% load static %}

{% block content %}
{% load socialaccount %}
{% load widget_tweaks %}
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" title="Main 화면으로">SmartHAN</a></li>
        <li class="breadcrumb-item">사진</li>
        <li class="breadcrumb-item active">등록/추가</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <!-- <div class="subheader">
        <h1 class="subheader-title">
            <i class='fal fa-info-circle'></i> 사진 추가
            <small>
                이 사이트의 간단한 소개입니다.
            </small>
        </h1>
    </div> -->
    



    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2>
                사진  <span class="fw-300"><i>등록/추가</i></span>
            </h2>
            <div class="panel-toolbar">
                <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                <h1>{{user}} 님! 사진 등록 및 추가 하세요.</h1>
                <p class="font-italic">이곳은 앨범에 사진을 등록하는 곳입니다.</p>
        
                {% if form.errors %}
                <div class="alert alert-danger">
                    <div class="font-weight-bold">Wrong! Please correct the error(s) below.</div>
                    {{ form.errors }}
                </div>
                {% endif %}
                {% if form.is_multipart %}
                <form enctype="multipart/form-data" action="" method="post" class="was-validated dropzone needsclick">
                {% else %}
                <form action="." method="post" class="was-validated dropzone needsclick">
                {% endif %}
                {% csrf_token %}
                <!-- <form class="was-validated dropzone needsclick"> -->
                    
                    <div class="form-group row">
                        <div class="col-md-1 mb-3">
                        <label class="form-label" for="simpleinputInvalid"><h3>앨범 선택</h3></label>
                        </div>
                        <!-- {{ form.album|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }} -->
                        <div class="col-md-2 mb-3">
                            {{ form.album|add_class:"form-control" }}
                        </div>
                        <div class="col-md-3 mb-3">
                            <a href="{% url 'photo:album_add' %}" class="btn btn-outline-success btn-sm">
                            Add Album</a>
                        </div>
                    </div>

                   
                    <div class="form-group">
                        <label class="form-label"><h3>사진 선택</h3></label>
                        <div class="custom-file">
                            <input type="file"  name="image" accept="image/*" class="custom-file-input" id="id_image" required="">
                            <label class="custom-file-label" for="customFile-2">Choose file</label>
                            <div class="invalid-feedback">사진 파일을 선택하세요.</div>
                        </div>
                    </div>


              

                    
                    <div class="form-group">
                        <label class="form-label" for="simpleinputInvalid"><h3>사진 제목</h3></label>
                        <input type="text" name="title" maxlength="30" class="form-control" id="id_title" required="">
                        <div class="invalid-feedback">
                            사진 제목을 적으세요.
                        </div>
                    </div>

                  

                    
                    
                    <div class="form-group">
                        <label class="form-label" for="validationTextarea3"><h3>사진 설명</h3></label>
                        <textarea class="form-control" id="id_description" placeholder="Required example textarea" required="" rows="4"></textarea>
                        <div class="invalid-feedback">
                            사진의 간단한 설명을 적으세요.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="offset-sm-5 col-sm-12">
                            <!-- <input type="submit" value="Submit" class="btn btn-info"/> -->
                            <button class="btn btn-primary ml-auto waves-effect waves-themed" value="Submit" type="submit">사진 등록</button>
                        </div>
                    </div>
                   

                </form>
            </div>
        </div>
    </div>
</main>
    {% endblock %}
    {% block script %}
  
    {% endblock %}