{% extends 'main_base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-8">
    <div class="container py-2 my-4 w-auto" style="position: absolute; left:100px;">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">

            <video width="750" controls>
              <source src="{{ video.video_file.url }}" type="video/mp4">
            </video>

            </div>

          </div>
        </div>





{% endblock %}