{% extends "regi_base.html" %}
{% load static %}
{% block content %}
<div class="flex-1" style="background: url({% static 'img/svg/pattern-1.svg' %}) no-repeat center bottom fixed; background-size: cover;">
    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                    지금 가입하세요!
                    <!-- <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                        가입을 위해 간단한 정보를 입력하고 가압하기 버튼을 누르세요.
                          <br>지금은 무료 입니다!
                    </small> -->
                </h2>
            </div>
            <div class="col-xl-6 ml-auto mr-auto">
                <div class="card p-4 rounded-plus bg-faded">
                    <!-- <div class="alert alert-primary text-dark" role="alert">
                        <strong>주의!</strong> 유지 보수를 위해 오전 시간때는 확인 메일이 약 10분 정도 지체 될수 있습니다.
                    </div> -->
                    <form id="js-login" novalidate="" method="POST" enctype="multipart/form-data" class="" >
                        {% csrf_token %}
                        {% include "form_errors.html" %}
                        <div class="form-group">
                            <label class="form-label" for="username">사용자 ID</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Name"
                            value="{{ form.username.value|default_if_none:'' }}" required>
                            <div class="invalid-feedback">이런, 사용자 ID가 빠졌내요.</div>
                        </div>
                    
                        
                        <div class="form-group">
                            <label class="form-label" for="email">이메일</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" data-inputmask="'alias': 'email'"
                            value="{{ form.email.value|default_if_none:'' }}" im-insert="true" required>
                            <div class="invalid-feedback">이메일을 넣어 주세요.</div>
                            <div class="help-block">이메일은 은 사용자 확인과 복구를 위해 필요합니다.</div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password1">비밀번호</label>
                            <input type="password" name="password" id="userpassword" class="form-control" placeholder="minimm 8 characters"
                            value="{{ form.password.value|default_if_none:'' }}" required>
                            <div class="invalid-feedback">비밀번호를 넣어 주세요.</div>
                            <div class="help-block">은행 비밀번호를 사용하지 마세요, 보안을 위해 많은 시간을 소모하지 않았습니다.</div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="confirm_password">비밀번호 확인</label>
                            <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="minimm 8 characters"
                            value="{{ form.confirm_password.value|default_if_none:'' }}" required>
                            <div class="invalid-feedback">비밀번호를 확인해 주세요.</div>
                            <div class="help-block">비밀번호는 암호화 되어 보관되니 누구도 알수 없어요.</div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="user_image">본인 사진</label>
                            <input type="file" name="user_image" id="user_image" class="form-control" placeholder="minimm 8 characters"
                            value="{{ form.user_image.value|default_if_none:'' }}" required>
                            <div class="invalid-feedback">본인 사진이 빠졌내요.</div>
                            <div class="help-block">본인을 대표할수 있는 사진을 선택하세요.</div>
                        </div>
                       
                        <!-- <div class="form-group">
                            <label class="form-label" for="user_image">본인 사진</label>
                            <input type="file" name="file" />
                            <div class="invalid-feedback">본인 사진이 빠졌내요.</div>
                            <div class="help-block">본인을 대표할수 있는 사진을 선택하세요.</div>
                        </div> -->

                        <div class="row no-gutters">
                            <div class="col-md-4 ml-auto text-right">
                                <button id="js-login-btn" type="submit" class="btn btn-block btn-danger btn-lg mt-3">가입하기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
        2021 © SmartHAN by&nbsp;<a href='https:/smarthan.com' class='text-white opacity-40 fw-500' title='smarthan.com' target='_blank'>smarthan.com</a>
    </div>
</div>
{% endblock %}                

{% block script %}
<script src="{% static 'js/formplugins/dropzone/dropzone.js' %}"></script>
<script src="{% static 'js/formplugins/inputmask/inputmask.bundle.js' %}"></script>
<script src="{% static 'js/formplugins/dropzone/dropzone.js'%}"></script>
{% endblock %}