{% load mptt_tags %}
<ul>
    {% recursetree category %}
        <li>
            {{ node.title }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
                
            {% endif %}
            
        </li>
        

        {% endrecursetree %}
</ul>

{% with node as friendly_node %}
{% recursetree category %}
{{ node.name }} aaa {{ friendly_node.name }}
{{ children }}
{% endrecursetree %}
{% endwith %}