{% extends 'main_base.html' %}
{% load static %}

{% block content %}
{% load socialaccount %}

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">SmartAdmin</a></li>
      <li class="breadcrumb-item"><a href="{% url 'board:board' %}">블로그</a></li>
      <li class="breadcrumb-item active">게시글상세, 댓글 달기</li>
      <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
      <h1 class="subheader-title">
          <i class='fal fa-info-circle'></i> 게시글 상세 보기, 댓글 달기
          <small>
              게시물을 보고 댓글을 달아 주세요.
          </small>
      </h1>
    </div>

      <!-- 본인이 작성한 글을 추천할 경우 에러 표시 -->
      {% if messages %}
      <div class="alert alert-primary alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            <i class="fal fa-times"></i>
          </span>
        </button>
        <div class="d-flex flex-start w-100">
          <div class="mr-2">
            <span class="icon-stack icon-stack-lg">
              <i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
              <i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
              <i class="fal fa-info icon-stack-1x opacity-100 color-white"></i>
            </span>
          </div>
          <div class="d-flex flex-fill">
            <div class="flex-fill">
              <h3 class="mb-g">
                  {% for message in messages %}
                    <strong>{{ message.tags }}</strong>
                    <ul><li>{{ message.message }}</li></ul>
                  {% endfor %}
              </h3>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!--  본인이 작성한 글을 추천할 경우 에러 표시 -->
    
    <div class="row">
      <div class="col-md-9">
        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
          <h2 class="border-bottom py-2">
            {{ post.subject }}
          </h2>
          <div class="card my-3">
            <div class="card-body">
              <!-- 대표 이미지가 있으면 불러오고, 없으면 픽숨에서 이미지를 빌려서 가지고 옴 -->
              <div class="card-text" style="white-space: pre-line;">
                    {% if post.head_image %}
                    <img src="{{ post.head_image.url }}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="https://picsum.photos/id/{{post.id}}/600/300" class="card-img-top" alt="...">
                    {% endif %}
              </div>
              <!-- 포스트의 내용 -->
              <div class="card-text" style="white-space: pre-line;">
                {{ post.content|safe }}
              </div>
              <!-- 수정. 생성 날짜 -->
              <div class="d-flex justify-content-end">
                <div class="d-inline-flex flex-column">
                    {% if post.modify_date %}
                    <div class="badge badge-light p-2">
                    고친날 : {{ post.modify_date }}
                    </div>
                    {% endif %}                    
                    <div class="badge badge-light p-2">
                    만들날: {{ post.create_date }}
                    </div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <div class="d-inline-flex flex-column">
                    <div class="badge badge-light p-2">
                      만든분 {{ post.author.username }} 님
                    </div>
                </div>
                <div class="d-inline-block align-middle status status-success status-sm mr-2">
                    {% if post.author.user_image %}
                    <span class="profile-image-md rounded-circle d-block" style="background-image:url('{{post.author.user_image.url}}'); background-size: cover;"></span>
                    {% else %}
                    <span class="profile-image-md rounded-circle d-block" style="background-image:url('/media/images/avatar-f.png'); background-size: cover;"></span>
                    {% endif %}
                </div>
              </div>
              <!-- 수정, 삭제, 좋아요 단추 -->
              {% if request.user == post.author %}
              <div class="my-3">
                  <a href="{% url 'board:post_modify' post.id  %}" 
                  class="btn btn-success btn-sm">수정</a>
                  <a href="#" class="delete btn btn-danger btn-sm"
                      data-uri="{% url 'board:post_delete' post.id %}">삭제</a>
                  <a href="#" data-uri="{% url 'board:vote_post' post.id  %}"
                      class="recommend btn btn-info btn-sm fal fa-thumbs-up">좋아요 {{post.voter.count}}</a>
              </div>
              {% else %}
              <div class="my-3">
                  <a href="#" data-uri="{% url 'board:vote_post' post.id  %}"
                  class="recommend btn btn-info btn-sm fal fa-thumbs-up">좋아요 {{post.voter.count}}</a>
              </div>
              {% endif %}
            </div>
          </div>

          <!-- 댓글 영역 -->
          <div class="border-bottom">
          <h5 class="my-3 py-2 badge badge-warning rounded fal fa-comment-lines"> {{post.comment_set.count}}개의 댓글이 있습니다.</h5>
          </div>


          {% for comment in post.comment_set.all %}
          <div class="media mb-3 border-bottom">
            <div class="text-center">
              {% if comment.author.user_image %}
              <span class="profile-image-md rounded-circle d-block" style="background-image:url('{{comment.author.user_image.url}}'); background-size: cover;"></span>
              {% else %}
              <span class="profile-image-md rounded-circle d-block" style="background-image:url('/media/images/avatar-f.png'); background-size: cover;"></span>
              {% endif %}
              <h6 class="mt-1 mb-0 mr-3">{{ comment.author.username }}</h6><br>
              <a href="#" data-uri="{% url 'board:vote_comment' comment.id  %}"
                      class="recommend btn btn-info btn-sm fal fa-thumbs-up"> 좋아요 {{comment.voter.count}}</a>
            </div>
            <div class="media-body">
              <p class="mt-3 mb-2">{{ comment.content }}</p>
              <div class="d-flex justify-content-end">
              {% if comment.modify_date %}
              <time class="timeago text-muted">
              수정 : {{ comment.modify_date }}
              </time>
              {% else %}
              <time class="timeago text-muted">
              생성 : {{ comment.create_date }}
              </time>
              {% endif %}                    
              
              
              {% if request.user == comment.author %}
                  <!-- <div class="my-3"> -->
                      <a href="{% url 'board:comment_modify' comment.id  %}" 
                        class="btn btn-success btn-sm">수정</a>
                      <a href="#" class="delete btn btn-danger btn-sm" 
                      data-uri="{% url 'board:comment_delete' comment.id %}">삭제</a>
                     
                  <!-- </div> -->
                  {% else %}
                  <!-- <div class="my-3"> -->
                      <!-- <a href="#" data-uri="{% url 'board:vote_comment' comment.id  %}"
                      class="recommend btn btn-info btn-sm fal fa-thumbs-up"> {{comment.voter.count}} 개</a> -->
                  <!-- </div> -->
                  {% endif %}
                </div> 
            </div>
          </div>
          {% endfor %}


          <form action="{% url 'board:comment_create' post.id %}" method="post" class="my-3">
              {% csrf_token %}
              {% if form.errors %}
              <div class="alert alert-danger" role="alert">
              {% for field in form %}
              {% if field.errors %}
              <strong>{{ field.label }}</strong>
              {{ field.errors }}
              {% endif %}
              {% endfor %}
              </div>
              {% endif %}
              <div class="form-group">
                  <textarea name="content" id="content" class="form-control" rows="5"></textarea>
              </div>
              <!-- <input type="submit" value="뎃글달기" class="btn btn-outline-success btn-sm"> -->
              <button type="submit" class="btn btn-primary">댓글달기</button>
          </form>
        </div>
      </div>
      {% include "board/post_side.html" %}
    </div>
  
    
</main>
{% endblock %}

{% block script %}

<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });

    // $(".eo").on('change', function() {
    //     $("#eo").val($(this).val());
    //     $("#page").val(1);
    //     $("#searchForm").submit();
    // });

});
</script>

<script type='text/javascript'>
  $(document).ready(function(){
      $(".delete").on('click', function() {
          if(confirm("정말로 삭제하시겠습니까?")) {
              location.href = $(this).data('uri');
          }
      });
  });



</script>
<script type='text/javascript'>
  $(document).ready(function(){
      
  
      $(".recommend").on('click', function() {
          if(confirm("정말로 추천하시겠습니까?")) {
              location.href = $(this).data('uri');
          }
          
       

  
          {% if form.errors %}
          confirm("에러 발생");
          Swal.fire("aaaaaaa");
          {% endif %}
      //A title with a text under
     
      });
    
  });
</script>
{% endblock %}


