{% extends 'main_base.html' %}
{% block header %}
{% load static %}
<!-- <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/lang/summernote-ko-KR.min.js"></script> -->
<link rel="stylesheet" media="screen, print" href="{% static 'css/formplugins/summernote/summernote.css' %}">
<script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
{% endblock %}
{% load static %}

{% block content %}
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
        <li class="breadcrumb-item">Application Intel</li>
        <li class="breadcrumb-item">게시판</li>
        <li class="breadcrumb-item active">게시글 쓰기</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='fal fa-info-circle'></i> 게시글 쓰기
            <small>
                게시글을 써 주세요
            </small>
        </h1>
    </div>
    <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    <div class="container">
        <h5 class="my-3 border-bottom pb-2">게시글 등록</h5>
        {{form.media}}
        <form enctype="multipart/form-data" method="post" class="post-form my-3">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
                <!-- 오류표시 Start -->
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                    {% endif %}
                {% endfor %}
                </div>
                {% endif %}
                <!-- 오류표시 End -->
               
                


        {{form.media}}
        <form enctype="multipart/form-data" method="POST" class="post-form my-3">
            {% csrf_token %}
            {{ form.as_p}}
            <p></p>
            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>

    </div>

    </div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'js/formplugins/summernote/summernote.js' %}"></script>

<script> 
    $('#summernote').summernote({ 
    	  // 에디터 높이
	  height: 500,
	  // 에디터 한글 설정
	  lang: "ko-KR",
	  // 에디터에 커서 이동 (input창의 autofocus라고 생각하시면 됩니다.)
	  focus : true,
	  toolbar: [
            ['style', ['style']],
		    // 글꼴 설정
		    ['fontname', ['fontname']],
		    // 글자 크기 설정
		    ['fontsize', ['fontsize']],
		    // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
		    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
		    // 글자색
		    ['color', ['forecolor','color']],
		    // 표만들기
		    ['table', ['table']],
		    // 글머리 기호, 번호매기기, 문단정렬
		    ['para', ['ul', 'ol', 'paragraph']],
		    // 줄간격
		    ['height', ['height']],
		    // 그림첨부, 링크만들기, 동영상첨부
		    ['insert',['picture','link','video']],
		    // 코드보기, 확대해서보기, 도움말
		    ['view', ['codeview','fullscreen', 'help']]
		  ],
		  // 추가한 글꼴
		fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
		 // 추가한 폰트사이즈
		//fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
    }); 

</script>
<script>
$(document).ready(function () {
    $("#cke_id_content").css("width", "500")
});
</script>   

{% endblock %}