{% extends 'main_base.html' %}
{% load static %}

{% block content %}
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">SmartHAN</a></li>
        <li class="breadcrumb-item">골플와 함께</li>
        <li class="breadcrumb-item active">골프 블로그</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='fal fa-info-circle'></i>골프 블로그
            <small>
                블로그를 보실려면 제목을 클릭하세요.
            </small>
        </h1>
    </div>
    <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">

    <div class="col-xl-12">
        <div class="input-group input-group-lg mb-g">
            <input type="text" class="form-control shadow-inset-2" placeholder="Search topics">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fal fa-search"></i></span>
            </div>
        </div>
        <div class="card mb-g border shadow-0">
            <div class="card-header">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <span class="h6 font-weight-bold text-uppercase">General</span>
                    </div>
                    <div class="col d-flex">
                        <a href="{% url 'board:question_create' %}" class="btn btn-outline-success btn-sm ml-auto mr-2 flex-shrink-0 waves-effect waves-themed">쓰기</a>
                    </div>
                </div>
            </div>
            <div class="card-header p-0">
                <div class="row no-gutters row-grid align-items-stretch">
                    <div class="col-sm-6 col-md-2 col-xl-1 hidden-md-down">
                        <div class="text-uppercase text-muted py-2 px-3">번호</div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="text-uppercase text-muted py-2 px-3">제목</div>
                    </div>
                    <div class="col-sm-6 col-md-2 col-xl-2 hidden-md-down">
                        <div class="text-uppercase text-muted py-2 px-3">작성일자</div>
                    </div>
                    <div class="col-sm-6 col-md-2 hidden-md-down">
                        <div class="text-uppercase text-muted py-2 px-3">작성자</div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                {% if question_list %}
                <div class="row no-gutters row-grid">
                    <!-- thread -->
                    {% for question in question_list %}
                    <div class="col-12">
                        <div class="row no-gutters row-grid align-items-stretch">
                            <div class="col-4 col-md-2 col-xl-1 hidden-md-down">
                                <div class="p-3 p-md-3">
                                    <span class="d-block text-muted">{{ question.id }}</span>
                                    
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="p-3">
                                    <div class="d-flex">
                                        <span class="icon-stack display-4 mr-3 flex-shrink-0">
                                            <i class="base-2 icon-stack-3x color-primary-400"></i>
                                            <i class="base-10 text-white icon-stack-1x"></i>
                                            <i class="ni md-profile color-primary-800 icon-stack-2x"></i>
                                        </span>
                                        <div class="d-inline-flex flex-column">
                                            <a href="{% url 'board:detail' question.id %}" class="fs-lg fw-500 d-block">
                                                {{ question.subject }}
                                                {% if question.answer_set.count > 0 %}
                                                <span class="badge badge-warning rounded">댓글수 : {{ question.answer_set.count }} 개</span>
                                                {% endif %}
                                            </a>
                                            
                                            <div class="d-block text-muted fs-sm">
                                                {{ question.content|truncatewords:5 }}<span class="badge badge-danger rounded">Sticky</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-md-2 col-xl-2 hidden-md-down">
                                <div class="p-3 p-md-3">
                                    <span class="d-block text-muted">{{ question.create_date }}</span>
                                    
                                </div>
                            </div>
                            <div class="col-8 col-md-2 hidden-md-down">
                                <div class="p-3 p-md-3">
                                    <div class="d-flex align-items-center">
                                        <div class="d-inline-block align-middle status status-success status-sm mr-2">
                                            {% if question.author.user_image %}
                                            <span class="profile-image-md rounded-circle d-block" style="background-image:url('{{question.author.user_image.url}}'); background-size: cover;"></span>
                                            {% else %}
                                            <span class="profile-image-md rounded-circle d-block" style="background-image:url('/media/images/avatar-f.png'); background-size: cover;"></span>
                                            {% endif %}
                                        </div>
                                        <div class="flex-1 min-width-0">

                                            <div class="text-muted small text-truncate">
                                                {{ question.author.username }} <a href="javascript:void(0)" class="text-info"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- thread -end -->
                    <!-- thread -->
                </div>
                {% else %}
                <p>질문이 없습니다.</p>
                {% endif %}
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                {% if page_number == question_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}   
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    </nav>




    </div>
</main>



{% endblock %}




